extends iframe-layout

block mainContent
    div(id='container', style='font-size: 20px')
        h3=youAre
        
        div(class="alert alert-danger", role="alert", id="badAlert", style="display:none;font-size:75%;width:530px;")
            span(style="font-weight:bold;") Incomplete. 
            span Please make a choice for both allocations before continuing.
            
        div(class="alert alert-success", role="alert", id="goodAlert", style="display:none;font-size:75%;width:530px;")
            span(style="font-weight:bold;") Success! 
            span You have submitted your choices.
        

        div(class="panel panel-default", style="font-size:80%;width:530px;")
            div(class="panel-heading") Please make your first choice:
            div(class="panel-body")
                table(style='width:500px;height:100px;')
                    tr
                        td(style='font-weight:bold;') You receive:
                        each val, index in receive1
                            td(style='font-size:80%;text-align:center;width:30px;background:#fff;-webkit-border-radius: 5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;', class='firstHoverclass' + index)= val
                    tr
                        td(style='border-top:1px solid black;border-bottom:1px solid black;')
                        - var i = 0;
                        while i < 9
                            td(style='border-top:1px solid black;border-bottom:1px solid black;text-align:center;background:#fff;', class='firstHoverclass' + i)
                                input(type='radio', name='position', id='firstPos' + i, value=i++)
                    tr
                        td(style='font-weight:bold;') Your partner receives:
                        each val, index in send1
                            td(style='font-size:80%;text-align:center;background:#fff;-webkit-border-radius: 0px 0px 5px 5px;-moz-border-radius: 0px 0px 5px 5px;border-radius: 0px 0px 5px 5px;', class='firstHoverclass' + index)= val
                
        div(class="panel panel-default", style="font-size:80%;width:530px;")
            div(class="panel-heading") Please make your second choice:
            div(class="panel-body")
                table(style='width:500px;height:100px;')
                    tr
                        td(style='font-weight:bold;') You receive:
                        each val, index in receive2
                            td(style='font-size:80%;text-align:center;width:30px;background:#fff;-webkit-border-radius: 5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;', class='secondHoverclass' + index)= val
                    tr
                        td(style='border-top:1px solid black;border-bottom:1px solid black;')
                        - var i = 0;
                        while i < 9
                            td(style='border-top:1px solid black;border-bottom:1px solid black;text-align:center;background:#fff;', class='secondHoverclass' + i)
                                input(type='radio', name='position2', id='secondPos' + i, value=i++)
                    tr
                        td(style='font-weight:bold;') Your partner receives:
                        each val, index in send2
                            td(style='font-size:80%;text-align:center;background:#fff;-webkit-border-radius: 0px 0px 5px 5px;-moz-border-radius: 0px 0px 5px 5px;border-radius: 0px 0px 5px 5px;', class='secondHoverclass' + index)= val

        input(type='button', value=submit, name='submitOffer', id='submitOffer', class='btn')



